<br>
<div align="center">
    <h2>Total Cases</h2>
    <p class="small">as of {{ totalCasesAsOf }}</p>
    <br>
</div>
<div class="container">
    <div class="row" [style.height.px]="numberChartHeightPx">
        <ngx-charts-number-card
            [scheme]="colorSchemeNumberChart"
            [results]="chartDataNumbers"
            [cardColor]="cardColor">
        </ngx-charts-number-card>
    </div>
</div>
<br>
<hr style="width:60%">
<br>
<div align="center">
    <h2>Cases Progression</h2>
    <p class="small">as of {{ casesProgressionAsOf }}</p>
    <br>
</div>
<div class="container">
    <div class="row" style="height: 500px">
    <ngx-charts-line-chart
        [scheme]="colorSchemeCasesProgressionChart"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisTicks]="xAxisTicks"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="chartDataTotalCases">
    </ngx-charts-line-chart>
</div>
<br>
<hr style="width:60%">
<br>
<div align="center">
    <h2>Daily Cases</h2>
    <p class="small">as of {{ dailyCasesAsOf }}</p>
</div>
<div class="container">
    <div class="row" style="height: 500px">
        <ngx-charts-bar-vertical
            [scheme]="colorSchemeDailyCasesChart"
            [results]="chartDataNewCases"
            [xAxis]="xAxis"
            [xAxisTicks]="xAxisTicks"
            [yAxis]="yAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBar"
            [yAxisLabel]="yAxisLabelBar">
        </ngx-charts-bar-vertical>
    </div>
</div>
<br>
<br>
<br>
<br>
