<h1>PH COVID-19 DATA</h1>
<p>{{ getDateToday() }}</p>
<div class="row" align="center">
    <div class="col-sm mb-4">
        <div class="card">
            <h5 class="card-header">TOTAL</h5>
            <div class="card-body" *ngIf='casesToday'>
                <h5 class="card-title">{{casesToday.cases | number}} ({{casesToday.todayCases | number}} today)</h5>
            </div>
        </div>
    </div>
    <div class="col-sm mb-4">
        <div class="card">
            <h5 class="card-header">RECOVERED</h5>
            <div class="card-body" *ngIf='casesToday'>
                <h5 class="card-title">{{casesToday.recovered | number}}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm mb-4">
        <div class="card">
            <h5 class="card-header">DEATHS</h5>
            <div class="card-body" *ngIf='casesToday'>
                <h5 class="card-title">{{casesToday.deaths | number}}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm mb-4">
        <div class="card">
            <h5 class="card-header">TESTS</h5>
            <div class="card-body" *ngIf='casesToday'>
                <h5 class="card-title">{{casesToday.totalTests | number}}</h5>
            </div>
        </div>
    </div>
</div>
<h2 align="center">Total Cases</h2>
<br>
<div class="container">
    <div class="row" style="height: 500px">
    <ngx-charts-line-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisTicks]="xAxisTicks"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi">
    </ngx-charts-line-chart>
</div>
</div>
